.container {
  display: flex;
  height: 60vh;
  color: var(--text-color);
  font-family: var(--font-family);
  background-color: var(--background-color);
  margin-top: 40px;
}

.left {
  flex: 1;
  margin-right: 20px;
  background-color: var(--background-color);
  margin-top: 3%;
  padding: 40px;
  text-align: center;
}

.right {
  flex: 1;
  margin-left: 20px;
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  border-radius: 8px;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
}

.right h1 {
  margin-bottom: 15px;
  color: var(--text-color);
  font-size: 28px;
}

.right > p {
  margin-bottom: 25px;
  color: var(--text-color);
  font-size: 16px;
}

.right h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
}

.right h3 {
  margin: 0;
  color: var(--text-color);
  font-size: 16px;
  font-weight: normal;
}

.list {
    list-style: disc;
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-benefits {
  margin-top: 20px;
  text-align: left;
  margin-bottom: 40px;
}

#username, #password {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 3px solid var(--primary-color);
  border-radius: 8px;
}

#login-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 30%;
}

#register-ref {
  margin-top: 30px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

h1 {
  text-align: center;
  margin: 0;
}
