<!-- Header for all main sites when logged in-->


<body>

    <header>
        <nav class="header-nav">
            <div class="header-left">
                <a href="../public/index.html">
                    <img src="../pictures/ejerbolig.png" alt="Logo" class="logo">
                </a>
                <h1>Real Estate Investment Analyzer</h1>
            </div>
            <div class="header-right">
            <ul>
                <li><a href="index.html">Dashboard</a></li>
                <li><a href="case.html">Investeringscases</a></li>
                <li><a href="compare.html">Sammenlign dine ejendomme</a></li>
                <li><a href="login.html">Log ud</a></li>
            </ul>
            </div>
        </nav>
    </header>
    
</body>